ul.nav {
    display: flex;
    flex-flow: row nowrap;
    height: 50px;
    background-color: #222;
    color: white;
    padding: 3px 0px;
    width: 100%;
    margin: 0px;
}

li.nav-el {
    display: flex;
    height: 50px;
    align-items: center;
    line-height: 20px;
    font-size: larger;
    padding: 0 20px;
}

li.nav-el a.active {
    color: red;
}

.App-logo {
    // animation: App-logo-spin infinite 20s linear;
    display: inline-block;
    width: 35px;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
